@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply font-sans;
    font-family: "Roboto", system-ui;
    background-color: white;
    min-height: 100vh;
    margin: 0;
  }
}